button {
  float: right;
  margin-right: 0px;
}
mat-icon {
  color: grey;
}
mat-card-header {
  cursor: pointer;
}

mat-card {
  background-image: linear-gradient(
    to right,
    #ada996,
    #f2f2f2,
    #dbdbdb,
    #eaeaea
  );
}
canvas {
  display: block;
  width: 200px;
  height: 200px;
}
p {
  font-family: Lato;
}
