.search {
  margin-top: 30px;
  margin-left: 200px;
  width: 20%;
}
table {
  margin-top: 30px;
  margin-left: 10%;
}
td {
  width: 900px;
  padding: 10px;
}
app-expansion-card {
  margin-top: 20px;
}

.pagination {
  margin-left: 30%;
  width: 40%;
  height: 40px;
}

.inline {
  display: inline-block;
}
mat-label {
  font-size: 28px;
}

button {
  margin-left: 10px;
  background-image: linear-gradient(to right, #fc4a1a, #f7b733);
}
.filter {
  margin-left: 5%;
}
