.form-class {
  height: 50%;
  width: 40%;
  padding-left: 20%;
  padding-bottom: 6%;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;
}
p {
  color: black;
}
p:hover {
  color: red;
  cursor: pointer;
}
