.form-class {
  height: 50%;
  width: 40%;
  padding-left: 20%;
  padding-bottom: 6%;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;
}

.logo {
  width: 90px;
  height: 90px;
  margin-left: 100px;
}
